<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354501903350-4scnguibehvk2iniiglld2if2qmsr802.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354501903350-4scnguibehvk2iniiglld2if2qmsr802</string>
	<key>API_KEY</key>
	<string>AIzaSyA8bvsez9MMPUVSnzbqdrEuUlKOxy2GvoY</string>
	<key>GCM_SENDER_ID</key>
	<string>354501903350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reverie.Beats</string>
	<key>PROJECT_ID</key>
	<string>beats-eac70</string>
	<key>STORAGE_BUCKET</key>
	<string>beats-eac70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354501903350:ios:1cb924bb90a1dffc4c7dd7</string>
	<key>DATABASE_URL</key>
	<string>https://beats-eac70.firebaseio.com</string>
</dict>
</plist>